.order-complete-inner-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 0;
    width: 920px;
  }
  
  .order-complete-left {
    width: 520px;
  }
  
  .order-complete-left p {
    color: #505050;
  }
  
  .order-complete-right {
    display: flex;
    justify-content: flex-end;
    width: 400px;
    cursor: pointer;
  }
  
  .order-complete-right a {
    text-decoration: underline;
    color: #83b669;
  }