.products-component-container {
  padding: 20px 0;
  max-height: 1100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #cccccc;
  overflow: hidden;
  border-radius: 5px;
}

.products-component-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.empty-products {
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  width: 100%;
  height: auto;
  color: #505050;
}

/*@media (max-width: 990px) {*/
/*  .products-component-container {*/
/*    grid-template-columns: 1fr;*/
/*    width: 470px;*/
/*    max-height: 100%;*/
/*  }*/
/*  .products-component-wrapper {*/
/*    grid-template-columns: 1fr;*/
/*  }*/
/*}*/
