.contact-details-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    width: 920px;
  }
  
  .delivery-text {
    font-size: 14px;
    color: #1c1c1c;
  }
  
  .contact-details-label-disabled {
    font-size: 14px;
    color: #9e9e9e;
  }
  
  .contact-details-input {
    margin: 10px 0 20px 0;
    width: 350px;
    height: 30px;
    border: 1px solid #d6d6d6;
    padding: 0 10px;
    background-color: #f9f9f9;
  }
  
  .contact-details-input[disabled] {
    background-color: #ffffff;
  }
  
  .contact-details-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .optional-text {
    color: #8c8c8c;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
  }
  
  .contact-details-button {
    margin: 26px 0 0 0;
    width: 200px;
  }