.filter-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 960px;
  height: 90px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  margin-bottom: 25px;
  border-radius: 5px;
}

.filter-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 90px;
}

.filter-dropdowns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  padding: 20px 0;
}

.filter-text {
  font-size: 15px;
  margin: 5px 0;
}

.filter-available {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filterSection {
  width: 220px;
  height: 33px;
  background-color: #cccccc;
  cursor: default;
}