/* Reset CSS для сброса стандартных стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Контейнер для приложения */
.app-container {
  display: flex;
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  overflow: hidden; /* Убираем прокрутку внутри контейнера */
  background-color: #f0f0f0; /* Пример фонового цвета */
}

/* Основной контейнер приложения */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff; /* Пример фонового цвета */
}

   