/* Reset CSS для сброса стандартных стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Основные стили для всего приложения */
  body {}
  
  
  .app-container {
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    width: 1490px;
  
  }
  
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  }
  
  
  
   