.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
  }
  
  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 960px;
    height: 80px;
    padding: 10px;
  }
  
  .header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 80px;
  }
  
  .header-left-logo {
    height: 80px;
    width: auto;
  }
  
  .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
  }
  
  .header-right-profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .header-right-username {
    color: #7fb364;
    font-weight: bold;
    cursor: pointer;
  }
  
  .cart-page,
  .log-in-section {
    position: relative;
    text-align: center;
    margin: 0 5px;
    height: 40px;
    padding: 10px;
    text-decoration: none;
    color: #1c1c1c;
    cursor: pointer;
  }
  
  .sign-up-section {
    position: relative;
    text-align: center;
    margin: 0 5px;
    height: 40px;
    padding: 10px;
    text-decoration: none;
    color: #1c1c1c;
    transition: 0.2s;
  }
  
  .cart-page:hover {
    color: #7fb364;
  }
  
  .cart-page-image {
    width: 20px;
    height: 20px;
  }
  
  .cart-page-active {
    position: relative;
    text-align: center;
    margin: 0 5px;
    height: 40px;
    padding: 10px;
    text-decoration: none;
    color: #1c1c1c;
    transition: 0.2s;
    cursor: pointer;
  }
  
  .header-right-username {
    padding: 10px;
    margin: 0 5px;
  }
  
  .logout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .cart-logo {
    width: 20px;
    height: 20px;
  }
  
  .logout-logo {
    width: 20px;
    height: 22px;
  }