.footerWrapper {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #ffffff;
    border-top: 1px solid #cccccc;
  }
  
  .footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 960px;
    height: 40px;
  }
  
  .footerSocial {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    background-color: #ffffff;
  }
  
  .socialLogo {
    margin: 10px;
    width: 20px;
    height: auto;
  }
  
  .socialLink {
    text-decoration: none;
    color: black;
  }
  
  .footerEmail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #ffffff;
  }
  
  .emailLogo {
    margin: 10px;
    width: 20px;
    height: auto;
  }
  
  .footerContact {
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: #ffffff;
  }
  
  .contactLogo {
    margin: 10px;
    width: 20px;
    height: auto;
  }
  
  .footerText {
    font-size: 14px;
    color: #000;
  }
  
  @media (max-width: 768px) {
    .footerText {
      font-size: 12px;
    }
  }