.product-card-wrapper {
  margin: 25px 0;
  width: 960px;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}

.top-product-card {
  display: flex;
  justify-content: space-between;
  align-self: center;
  background-color: #ffffff;
  width: 960px;
  height: 250px;
  padding: 20px 30px;
}

.image-product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 230px;
}
.main-image-product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 230px;
  background-color: #ececec;
}

.engine-image {
  width: 200px;
  height: auto;
}

.info-product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 375px;
  height: 230px;
  padding: 10px;
}

.name-product-card {
  font-size: 18px;
}

.code-product-card,
.manufacturer-product-card,
.description-product-card {
  color: #5c5c5c;
  font-size: 15px;
}

.add-info-product-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.add-info-product-card-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 230px;
  background-color: #ececec;
}

.price-product-card {
  margin: 10px;
  font-size: 1.5rem;
}

.available-product-card {
  margin: 0 0 10px 0;
}

.bottom-product-card {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 960px;
  min-height: 300px;
}
.applicable-product-card-wrap {
  padding: 10px;
  width: 335px;
}
.review-product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 960px;
}

.available-product-card {
  display: flex;
  align-items: center;
  margin: 10px;
}

.available-logo {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.productCardComponent {
  margin: 10px;
}

.error404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.error404-text {
  padding: 10px;
}
