.page-nav-container {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 960px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.pageNavComponentForward {
  margin: 5px 37px 5px 5px;
}

.pageNavComponentBack {
  margin: 5px;
}
